/6-AprendizagemNaoSupervisionada-ApreMaq-2007.pdf
/administrador,+7-562-Arquivo+do+artigo-2570-1-18-20190723.pdf
/Algorithms for Clustering Data (Anil K. Jain, Richard C. Dubes) (Z-Library).pdf
/Data Clustering Algorithms and Applications (Charu C. Aggarwal, Chandan K. Reddy) (Z-Library).pdf
/Data Clustering Theory, Algorithms, and Applications (ASA-SIAM Series on Statistics and Applied Probability) (Guojun Gan Chaoqun Ma and Jianhong Wu) (Z-Library).pdf
/Data Science Para Leigos (Lillian Pierson) (Z-Library).pdf
/Introdução a mineração de dados (DANIEL GOMES FERRARI etc.) (Z-Library).pdf
/Python para análise de dados (Wes McKinney) (Z-Library).pdf
/tcc_20211_MarlonViniciusAlvesDeAraujo_115054046.pdf